/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background-image: url('https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 500px;

    /* background-position: 100%; */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    /* max-width: 700px; */
    margin: 20px auto;
    padding: 50px;
    border-radius: 50px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80%;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 0px;
    height: 130px ;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #087702;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}


/* Footer Styles */
.footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Social Media Icons */
.footer-section .social ul {
    display: flex;
    justify-content: center;
}

.footer-section .social ul li {
    margin: 0 10px;
}

.footer-section .social ul li a {
    color: #fff;
    font-size: 20px;
}

.footer-section .social ul li a:hover {
    color: #ddd;
}
